
name: CI-CD-App

on: [push]

jobs:

  trivy:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3

      - name: Run Trivy

         uses: aquasecurity/trivy-action@master

         with:

           image-ref: 'python:3.9'

           format: 'table'

           exit-code: '0'

